
.main-page {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient( #fff7f5, white);
}

img {
    width: 300px; 
}

.image-container {
    background-image: url(../../../assets/images/article.jpg);
    height: 300px;
    width: auto;
}



.article {
    // position: relative;
    margin-top: -19px;
    margin-bottom: 0;
}


.shipping-type {
    background-color: #001514 ;
    color: white;
    display: inline-block;
    padding: 8px 15px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 0px;
    box-shadow: 0 0 1px grey;
 
}

.brand {
    color: #732C2C;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0 10px ;
    margin: 0.8rem 0 0 0;
}


.description {
    font-size: .9rem;
    padding: 10px;
    color: #5f2b1f;
}


.color-title {
    margin: 10px 0 0 0 ;
    font-weight: 800;
}

.colors {
    display: flex;
    justify-content: space-between;
}
.color-item {
    width: 65px;
    height: 20px;
    border-radius: 10px;
    margin: 10px 0;
 
}



.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 15px;
   background-color: #C6EBBE;


}

.action-btn {
    padding: 15px 25px;
    background-color:#001514;
    border: none;
    color:  white;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: white;
    color: #001514;
    svg {
        fill: #001514;
    }
}

.action-btn svg {
    fill:  white;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.price-title,
.price {
    font-weight: 700;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.price {
    font-size: 2.5rem;
    font-weight: 900;
    color:  white;
    text-shadow: 0 0 0px gray
    ;
}