<div class="page-container">
    <div class="component-container">
    <div class="main-page">
        <div class="image-container">
        </div>
        <div>
            <p class="shipping-type">Rincon Guillermo Pozzo</p>

            <h2 class="brand">Software developer <span>Azzure, Spain</span></h2>
            <p class="description">
                Rincon Guillermo Pozzo is a tech enthusiast and developer known for his contributions on platforms like GitHub and LinkedIn. On GitHub, he goes by the username "rougemeister" and has several repositories showcasing his work in JavaScript and HTML projects​ (GitHub)​. Additionally, he has achievements recognized by IBM, highlighting his skills in coding and professional development​ (GitHub)​.        </div>
    </div>
    <div class="footer">
        <button class="action-btn">
            <span>Send a message!</span>
        </button>
        </div>
    </div>
    </div>