<div class="page-container">
<div class="component-container">
<div class="main-page">
    <div class="image-container">
        <img src="../../assets/images/airpod.png" alt="">
    </div>
    <div>
        <div>
            <p class="shipping-type">Free Shipping</p>
        </div>
        <h2 class="brand">Apple</h2>
        <h2 class="product">Airpod Max</h2>
        <p class="description">
            The most powerful Macbook Pro ever is here. With the blazing-fast
            M1 Pro or M1 Max chip the first Apple silicon designed for pros.
        </p>
    </div>
</div>
<div class="footer">
    <div class="price-tag">
        <p class="price-title">Price</p>
        <p class="price">$199</p>
    </div>
    <div class="btn-container">
    <button class="action-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z"/></svg>
        <span>Buy Now</span>
    </button>
    </div>
</div>
</div>
</div>