* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.page-container {
    display: flex;
    width: 375px;

}
.components-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.page-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgb(218, 218, 218);
} 