* {
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    user-select: none;
}
.page-container {
    display: flex;
    width: 375px;

}


// .page-container:hover {
//     transform: scale(1.05);
//     box-shadow: 0 0 5px gray;
//     border: 1px solid pink;
//     border-radius: 30px;
//     overflow: hidden;
// }